
body{
    background-color: blanchedalmond;
    font-family: helvetica;
    padding: 20px;
}
h1{
    font-family: Helvetica;
    color: rgb(109, 38, 12);

    display: flex;
    justify-content: flex-start;
}
nav{
    font-size: 20px;
    font-style: bold;
    color: rgb(109, 38, 12);

    display: flex;
    background-color: rgb(205, 45, 45);
    height: 40px;
    margin-bottom: 10px;
}
.link-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.copy{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.image{
    margin: 10px;
}
p{
    width: 80%;
}
h2{
    color: rgb(109, 38, 12);
}
h3{
    color:rgb(109, 38, 12);
}
